apiVersion: v1
kind: Secret
metadata:
  name: northstar-database
  namespace: northstar
  labels:
    app.kubernetes.io/name: northstar-bank
    app.kubernetes.io/component: database
type: Opaque
stringData:
  POSTGRES_USER: northstar
  POSTGRES_PASSWORD: replace-with-a-private-environment-password
  POSTGRES_DB: northstar
  DATABASE_URL: postgresql+psycopg://northstar:replace-with-a-private-environment-password@northstar-postgresql:5432/northstar
